@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background: url(../public/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.innerShadow {
    box-shadow: inset 6px -27px 50px -50px #000000;
}

.undragable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.gradient {
    background: rgb(6, 2, 41);
    background: linear-gradient(
        180deg,
        rgba(6, 2, 41, 1) 0%,
        rgba(6, 2, 41, 0.7091211484593838) 33%,
        rgba(255, 255, 255, 0) 100%
    );
}
